  <div style="width: 50%; height: 500px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

 <div class="index-container container">
  <div class="index-logo">
    <%= image_tag("Airpnp1.jpg", alt: "logo") %>
  </div>

  <div class="flat-container">
    <%@flats.each do |flat| %>
      <div class="col-3">
      <%= render "card", flat: flat%>
    </div>
    <% end %>
    </div>
