
<div data-controller="booking-display">
  <div class="show-flat">
    <%= @flat.title %>
  </div>
<div class="show-new-booking">
    <%= render "bookings/form", user: current_user, flat: @flat %>
</div>
</div>

<h1> Delete flat</h1>

   <%= link_to "Delete",
    flat_path(@flat),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>

