
<h2>Réservation</h2>
<div class="new-booking">
  <%= simple_form_for [@flat, @booking] do |f| %>
            <%= f.input :guest, as: :integer %>
            <%= f.input :entry_date, as: :string, input_html: { data: { controller: "datepicker" , datepicker_dates_value: @tableaudate.to_json} } %>
            <%= f.submit "Valider", class: 'btn btn-primary new-booking-button' %>
    <% end %>
</div>
