<h1>Detail Booking</h1>

  <p><strong>Date d'arriver : </strong><%= @booking.entry_date %></p>
  <p><strong>Date de fin : </strong><%= @booking.out_date %></p>
  <p><strong>Nombre de personne : </strong><%= @booking.guest %></p>

  <p><%= link_to '< Back', bookings_path %></p>
