.navbar-lewagon {
	justify-content: space-between;
	background: $mywhite;
	margin-left: -20px;
	margin-right: -20px;
	color: #fec400;
}
.container-fluid {
	padding: 0 5vw;
}
.nav-link {
	color: $darkblue;
}
.nav-link:hover {
	color: violet;
}
.navbar-lewagon .navbar-collapse {
	flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
	width: 40px;
}

.nav-link-dashboard {
	margin-left: 20px;
	a {
		text-decoration: none;
	}
}

.navbar-profil-pic {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
}
