.navbar-lewagon {
  justify-content: space-between;
  background: #001444;
  margin-left: -20px;
  margin-right: -20px;
  color: #fec400;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
